In [1]:
conda install seaborn

Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/madhu/anaconda3

  added / updated specs:
    - seaborn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    seaborn-0.13.2             |  py311h06a4308_1         730 KB
    ------------------------------------------------------------
                                           Total:         730 KB

The following packages will be UPDATED:

  seaborn                            0.12.2-py311h06a4308_0 --> 0.13.2-py311h06a4308_1



Downloading and Extracting Packages:

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
df = pd.read_csv("car_sales.csv")
print(df.head())

    Manufacturer              Model  Sales in thousands  4-year resale value  \
0  Acura          Integra                        16.919               16.360
1  Acura          TL                             39.384               19.875
2  Acura          CL                             14.114               18.225
3  Acura          RL                              8.588               29.725
4  Audi           A4                             20.397               22.255

  Vehicle type  Price in thousands  Engine size  Horsepower  Wheelbase  Width  \
0    Passenger               21.50          1.8       140.0      101.2   67.3
1    Passenger               28.40          3.2       225.0      108.1   70.3
2    Passenger                 NaN          3.2       225.0      106.9   70.6
3    Passenger               42.00          3.5       210.0      114.6   71.4
4    Passenger               23.99          1.8       150.0      102.6   68.2

   Length  Curb weight  Fuel capacity  Fuel efficiency Latest Launch
0   172.4        2.639           13.2             28.0      2-Feb-14
1   192.9        3.517           17.2             25.0      6-Mar-15
2   192.0        3.470           17.2             26.0      1-Apr-14
3   196.6        3.850           18.0             22.0      3-Oct-15
4   178.0        2.998           16.4             27.0     10-Aug-15

In [3]:
attributes = df.shape[1]
print("Number of attributes:",attributes)

Number of attributes: 15

In [5]:
print("DataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  121 non-null    float64
 4   Vehicle type         157 non-null    object
 5   Price in thousands   155 non-null    float64
 6   Engine size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb weight          155 non-null    float64
 12  Fuel capacity        156 non-null    float64
 13  Fuel efficiency      154 non-null    float64
 14  Latest Launch        157 non-null    object
dtypes: float64(11), object(4)
memory usage: 18.5+ KB
None

In [7]:
num_rows,num_colms = df.shape
print("Number of rows:",num_rows)
print("Number of columns:",num_colms)

Number of rows: 157
Number of columns: 15

In [9]:
clean = df.drop_duplicates()
print("Number of rows before dropping:", df.shape[0])
print("Number of rows after dropping:", clean.shape[0])

Number of rows before dropping: 157
Number of rows after dropping: 157

In [11]:
print("Summary of data:",df.describe())

Summary of data:        Sales in thousands  4-year resale value  Price in thousands  \
count          157.000000           121.000000          155.000000
mean            52.998076            18.072975           27.390755
std             68.029422            11.453384           14.351653
min              0.110000             5.160000            9.235000
25%             14.114000            11.260000           18.017500
50%             29.450000            14.180000           22.799000
75%             67.956000            19.875000           31.947500
max            540.561000            67.550000           85.500000

       Engine size  Horsepower   Wheelbase       Width      Length  \
count   156.000000  156.000000  156.000000  156.000000  156.000000
mean      3.060897  185.948718  107.487179   71.150000  187.343590
std       1.044653   56.700321    7.641303    3.451872   13.431754
min       1.000000   55.000000   92.600000   62.600000  149.400000
25%       2.300000  149.500000  103.000000   68.400000  177.575000
50%       3.000000  177.500000  107.000000   70.550000  187.900000
75%       3.575000  215.000000  112.200000   73.425000  196.125000
max       8.000000  450.000000  138.700000   79.900000  224.500000

       Curb weight  Fuel capacity  Fuel efficiency
count   155.000000     156.000000       154.000000
mean      3.378026      17.951923        23.844156
std       0.630502       3.887921         4.282706
min       1.895000      10.300000        15.000000
25%       2.971000      15.800000        21.000000
50%       3.342000      17.200000        24.000000
75%       3.799500      19.575000        26.000000
max       5.572000      32.000000        45.000000

In [13]:
print("Number of missing values in each column:",df.isnull().sum())

Number of missing values in each column: Manufacturer            0
Model                   0
Sales in thousands      0
4-year resale value    36
Vehicle type            0
Price in thousands      2
Engine size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb weight             2
Fuel capacity           1
Fuel efficiency         3
Latest Launch           0
dtype: int64

In [23]:
print("Most missing values from the column:",df.isnull().sum().idxmax())

Most missing values from the column: 4-year resale value

In [25]:
print(df.isnull().sum())

Manufacturer            0
Model                   0
Sales in thousands      0
4-year resale value    36
Vehicle type            0
Price in thousands      2
Engine size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb weight             2
Fuel capacity           1
Fuel efficiency         3
Latest Launch           0
dtype: int64

In [37]:
df["null"].fillna(df["null"].mean(),inplace=True)

KeyError: 'null'