In [1]:
import pandas as pd
data = [10,20,30,40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [107]:
import pandas as pd
df=pd.read_csv("transactions.csv")
#viewing the data
print(df.head(1))
print(df.tail(1))
print(df.info())
print(df.describe())
print(df['TransactionID'])
print(df[['TransactionID','UserID']])
print(df.iloc[1])

#Filtering Data
filtered_df = df[df['TransactionID'] >= 3]
print(filtered_df)

# renaming Columns
df.rename(columns={'TransactionID':'TID'},inplace=True)
print(df)

#Handling Missing Data
print(df.isnull())
print(df.isnull().sum())
df['UserID'].fillna(df['UserID'].mean(),inplace=True)
print(df)
df.dropna(inplace=True))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TransactionID, dtype: int64
   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0
TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object
   TransactionID TransactionDate  UserID  ProductID  Quantity
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
   TID TransactionDate  UserID  ProductID  Quantity
0    1      2010-08-21     7.0          2         1
1    2      2011-05-26     3.0          4         1
2    3      2011-06-16     3.0          3         1
3    4      2012-08-26     1.0          2         3
4    5      2013-06-06     2.0          4         1
5    6      2013-12-23     2.0          5         6
6    7      2013-12-30     3.0          4         1
7    8      2014-04-24     NaN          2         3
8    9      2015-04-24     7.0          4         3
9   10      2016-05-08     3.0          4         4
     TID  TransactionDate  UserID  ProductID  Quantity
0  False            False   False      False     False
1  False            False   False      False     False
2  False            False   False      False     False
3  False            False   False      False     False
4  False            False   False      False     False
5  False            False   False      False     False
6  False            False   False      False     False
7  False            False    True      False     False
8  False            False   False      False     False
9  False            False   False      False     False
TID                0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64
   TID TransactionDate    UserID  ProductID  Quantity
0    1      2010-08-21  7.000000          2         1
1    2      2011-05-26  3.000000          4         1
2    3      2011-06-16  3.000000          3         1
3    4      2012-08-26  1.000000          2         3
4    5      2013-06-06  2.000000          4         1
5    6      2013-12-23  2.000000          5         6
6    7      2013-12-30  3.000000          4         1
7    8      2014-04-24  3.444444          2         3
8    9      2015-04-24  7.000000          4         3
9   10      2016-05-08  3.000000          4         4

In [127]:
df_sorted = df.sort_values(by = ['Quantity','ProductID'],ascending=[True,False])
print(df_sorted)

   TID TransactionDate    UserID  ProductID  Quantity
1    2      2011-05-26  3.000000          4         1
4    5      2013-06-06  2.000000          4         1
6    7      2013-12-30  3.000000          4         1
2    3      2011-06-16  3.000000          3         1
0    1      2010-08-21  7.000000          2         1
8    9      2015-04-24  7.000000          4         3
3    4      2012-08-26  1.000000          2         3
7    8      2014-04-24  3.444444          2         3
9   10      2016-05-08  3.000000          4         4
5    6      2013-12-23  2.000000          5         6

In [139]:
subset_rows = df.iloc[[0,2,6]]
print(subset_rows)

print(df)
foo = [True,False,True,True,False,False,True,False,True,False]
subset = df[foo]
print(subset)

subset = df[df['Quantity']>1][['TID','TransactionDate']]
print(subset)

columns_to_select = ['TID','TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TID TransactionDate  UserID  ProductID  Quantity
0    1      2010-08-21     7.0          2         1
2    3      2011-06-16     3.0          3         1
6    7      2013-12-30     3.0          4         1
   TID TransactionDate    UserID  ProductID  Quantity
0    1      2010-08-21  7.000000          2         1
1    2      2011-05-26  3.000000          4         1
2    3      2011-06-16  3.000000          3         1
3    4      2012-08-26  1.000000          2         3
4    5      2013-06-06  2.000000          4         1
5    6      2013-12-23  2.000000          5         6
6    7      2013-12-30  3.000000          4         1
7    8      2014-04-24  3.444444          2         3
8    9      2015-04-24  7.000000          4         3
9   10      2016-05-08  3.000000          4         4
   TID TransactionDate  UserID  ProductID  Quantity
0    1      2010-08-21     7.0          2         1
2    3      2011-06-16     3.0          3         1
3    4      2012-08-26     1.0          2         3
6    7      2013-12-30     3.0          4         1
8    9      2015-04-24     7.0          4         3
   TID TransactionDate
3    4      2012-08-26
5    6      2013-12-23
7    8      2014-04-24
8    9      2015-04-24
9   10      2016-05-08
   TID TransactionDate
0    1      2010-08-21
1    2      2011-05-26
2    3      2011-06-16
3    4      2012-08-26
4    5      2013-06-06
5    6      2013-12-23
6    7      2013-12-30
7    8      2014-04-24
8    9      2015-04-24
9   10      2016-05-08
   TID TransactionDate    UserID
0    1      2010-08-21  7.000000
1    2      2011-05-26  3.000000
2    3      2011-06-16  3.000000
3    4      2012-08-26  1.000000
4    5      2013-06-06  2.000000
5    6      2013-12-23  2.000000
6    7      2013-12-30  3.000000
7    8      2014-04-24  3.444444
8    9      2015-04-24  7.000000
9   10      2016-05-08  3.000000

In [157]:
print(df.dtypes)
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(df.dtypes)
df['year']=pd.to_datetime(df['TransactionDate']).dt.year
df['month']=pd.to_datetime(df['TransactionDate']).dt.month
df['day']=pd.to_datetime(df['TransactionDate']).dt.day
df.drop(columns=['year'],inplace=True)
print(df)

TID                         int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
year                        int32
month                       int32
day                         int32
dtype: object
TID                         int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
year                        int32
month                       int32
day                         int32
dtype: object
   TID TransactionDate    UserID  ProductID  Quantity  month  day
0    1      2010-08-21  7.000000          2         1      8   21
1    2      2011-05-26  3.000000          4         1      5   26
2    3      2011-06-16  3.000000          3         1      6   16
3    4      2012-08-26  1.000000          2         3      8   26
4    5      2013-06-06  2.000000          4         1      6    6
5    6      2013-12-23  2.000000          5         6     12   23
6    7      2013-12-30  3.000000          4         1     12   30
7    8      2014-04-24  3.444444          2         3      4   24
8    9      2015-04-24  7.000000          4         3      4   24
9   10      2016-05-08  3.000000          4         4      5    8

In [159]:
df['foo'] = df['UserID']+df['ProductID']
print(df.head())

   TID TransactionDate  UserID  ProductID  Quantity  month  day  foo
0    1      2010-08-21     7.0          2         1      8   21  9.0
1    2      2011-05-26     3.0          4         1      5   26  7.0
2    3      2011-06-16     3.0          3         1      6   16  6.0
3    4      2012-08-26     1.0          2         3      8   26  3.0
4    5      2013-06-06     2.0          4         1      6    6  6.0

In [2]:
#Exercise questions

#1. Print Summary of transaction data set
#print(df.describe())

#2. Print Numbers of Attributes
#print(len(df.columns))

#3. Print Numbers of Records
#print(len(df))

#4. Get the row names
#print(df.index.tolist())

#5. Get the column names
#print([col for col in df.columns])

#6. View top 10 Records
#print(df.head(10))

#7.Change the name of column “ Quantity” to “Quant”
#df.rename(columns={'Quantity':'Quant'})
#print(df)

#8.Change the name of columns ProductID and UserID to PID and UID respectively
#df.rename(columns={'ProductID':'PID' , 'UserID':'UID'})
#print(df)

#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True
#print(df.sort_values(by = ['TID'],ascending=[False]))

#10. Order the rows of transactions by Quantity ascending, TransactionDate descending
#print(df.sort_values(by = ['Quantity','TransactionDate'],ascending=[True,False]))
df = df[['ProductID', 'Quantity', 'TransactionDate', 'TransactionID', 'UserID']]
print(df)

NameError: name 'df' is not defined